#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;/*row,coulumn,couulmn-reverse */
    justify-content:flex-start;/* flex-start,flex-end,centre,space=between*/
    flex-wrap: nowrap;/* nowrap,wrap,wrapreverse*/
  /*  align-items:flex-start;*/
  align-content: space-around;
}
#container div{
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    
}
#me{
  /*  flex-basis: 400px;*/
 /* flex-grow: 3;*/
 flex-shrink: 2;
}
#you{
    flex-shrink: 1;
}